.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
div#root {
    width: 100%;
}
body{
  background-color: #fff;
  place-items: start;
}

input:-internal-autofill-selected {
    background-color: #ffff !important;
    color: #fff705 !important;
}